<div>
  <form [formGroup]="filterForm">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="search...">
      <mat-error *ngIf="filterForm.get('name').invalid">Please enter a key word.</mat-error>
    </mat-form-field>
  </form>

  <div class="wrap">
    <div *ngFor="let edid of edidData | searchEdid:filterForm.get('name').value" (click)="onClick(edid.Name)">
      <mat-card class="example-card" [ngClass]="{'card-opacity': onFocus(edid.Name) }">
        <mat-card-title-group>
          <mat-card-title [ngClass]="getClass(edid.status)">{{edid?.Name}}</mat-card-title>
          <mat-card-subtitle>{{edid?.NativeResolution}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          {{edid?.Size}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
